@model IEnumerable<ASPLabb1.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Anställda</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Efternamn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                    <a asp-controller="VacationApplication" asp-action="Details" asp-route-id="@item.EmployeeId">Ledighestsansökningar</a>
            </td>
        </tr>
}
    </tbody>
</table>
